{% if transactions|length == 1 %}Helsinki Hacklab: Maksu suorittamatta | Payment incomplete{% else %}Helsinki Hacklab: {{ transactions|length }} Maksua suorittamatta | {{ transactions|length }} Payments incomplete{% endif %}