(english below the break)

Hei,

Seuraava(t) maksu(t) on kirjanpitomme mukaan maksamatta:

{% for t in transactions %}
Kuvaus: {{ t.transaction.tag }}
Alkuperäinen eräpäivä: {{ t.transaction.stamp.date.isoformat }}
Viite: {{ t.transaction.reference }}
Summa: {{ t.due }} EUR
Tilinro: {{ t.iban }}
{% if t.barcode %}
Virtuaaliviivakoodi: {{ t.barcode }}
{% endif %}
====================================
{% endfor %}

Mikäli uskot että tässä on jokin virhe, ole hyvä ja ota yhteyttä hallitukseen.

Samalle tilille ja samalla viitenumerolla maksettavat tilisiirrot voi yhdistää yhdeksi yhteenlasketuksi maksuksi.

--------------

Hey,

According to our bookkeeping, the following payment(s) is/are unpaid:

{% for t in transactions %}
Description: {{ t.transaction.tag }}
Original due date: {{ t.transaction.stamp.date.isoformat }}
Reference: {{ t.transaction.reference }}
Amount due: {{ t.due }} EUR
IBAN Account number: {{ t.iban }}
{% if t.barcode %}
Virtual barcode: {{ t.barcode }}
{% endif %}
====================================
{% endfor %}

If you think there is some error here, please contact the board.

Payments with same account number and reference number can be combined into one summed transaction.
